
.headshot {
	width:200px;
	border-radius: 50%;
	border: 1px solid #666;
	display: block;
	position: relative;
	margin: 30px auto 0 auto;
	z-index:100;
}
.portfolio {
	text-align:center;
}
.portfolio > * {
	margin: 2px 7px;
}
.portfolio select {
	display:block;
	color:#f2f2f2;
	margin:0 auto;
	width:220px;
	text-align:center;
	border:1px solid #777777;
	border-radius: 4px;
	padding:2px 8px;
	background: #111111 url(../images/ui-bg_glass_40_111111_1x400.png) 50% 50% repeat-x;
}
.project {
	width:200px;
	display: inline-block;
	vertical-align:top;
}
.project_icon {
	width:180px;
	border-radius: 50%;
	border: 1px solid #666;
	display: block;
	margin: 30px auto 0 auto;
}